/* AUTHOR - Matthew May - mcmay.web@gmail.com */

    body {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
    }
    #map {
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        bottom:0;
    }
